html {
  font-family: "Fredoka One", sans-serif;

  background-color: #b3fbff;
}

.banner {
  background: repeating-linear-gradient(-35deg, #c9fcff, #c9fcff 10px, #d4fdff 10px, #d4fdff 20px);
  border-top: solid 10px #b3fbff;
  border-bottom: solid 10px #b3bff;
}

h1 {
  color: #990073;
  transform: rotate(-10deg);
}

p {
  color: #c09;
  transform: rotate(-5deg);
}

.wrapper {
  height: 23em;
}

.btn-ghost {
  border-color: #990073;
  color: #c09;
}

.glow {
  text-shadow: 2px 2px 0 rgba(153, 0, 115, .15);
}

.body-copy {
  max-width: 19em;
}

.ice {
  width: 180px;
  height: auto;
}

.ice-cream {
  position: relative;
  width: 100%;
  height: 100%
}

.ice-cream-contain {
  height: 100%;
}

.text-contain {
  height: 100%;
  filter: opacity(0);
  animation: txt-fall .5s 2s linear forwards;
}

.cone {
  position: absolute;
  width: 180px;
  height: auto;
  z-index: 5;
  animation: cone-fall .5s linear forwards;
}

.cherry {
  width: 180px;
  height: auto;
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% + 17px);
  transform: translate(-50%, -50%);
  z-index: 6;
  animation: chr-fall .5s 2s linear forwards;
}

.i-c {
  position: absolute;
}

.ice-1 {
  top: calc(50% - 420px);
  left: calc(50% + 17px);
  transform: translate(-50%);
  z-index: 1;
  animation: i-c-1-fall .5s .5s linear fowards;
}

.ice-2 {
  top: calc(50% - 330px);
  left: calc(50% + 25px);
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: i-c-2-fall .5s 1s linear forwards;
}

.ice-3 {
  top: calc(50% - 330px);
  left: calc(50% + 17px);
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: i-c-2-fall .5s 1.5s linear forwards;
}

.btn-ghost:hover {
  background-color: rgba(153, 0, 115, .1);
  border-color: #990073;
  color: #c09;
}

@keyframes cone-fall {

  0% {
    top: -50%;
    left: calc(50% + 17px);
    transform: translate(-50%, -50%);
  }

  100% {
    top: calc(50% + 100px);
    left: calc(50% + 17px);
    transform: translate(-50%, -50%);
  }

}

@keyframes i-c-1-fall {

  0% {
    top: calc(50% - 400px);
    left: calc(50% + 17px);
    transform: translate(-50%);
  }

  100% {
    top: calc(50% - 93px);
    left: calc(50% + 17px);
    transform: translate(-50%);
  }

}

@keyframes cone-fall {

  0% {
    top: calc(50% - 330px);
    left: calc(50% + 17px);
    transform: translate(-50%);
  }

  100% {
    top: calc(50% - 75px);
    left: calc(50% + 25px);
    transform: translate(-50%, -50%);
  }

}

@keyframes i-c-3-fall {

  0% {
    top: calc(50% - 330px);
    left: calc(50% + 17px);
    transform: translate(-50%);
  }

  100% {
    top: calc(50% + 150px);
    left: calc(50% + 17px);
    transform: translate(-50%, -50%);
  }

}

@keyframes chr-fall {

  0% {
    top: calc(50% - 300px);
    left: calc(50% + 17px);
    transform: translate(-50%, -50%);
  }

  100% {
    top: calc(50% + 220px);
    left: calc(50% + 17px);
    transform: translate(-50%, -50%);
  }

}

@keyframes txt-fall {

  0% {
    filter: opacity(0) blur(10px);
}

  100% {
    filter: opacity(1) blur(0);
  }
/* #b3fbff, #c9fcff, #d4fdff, #990073, #c09 */
